
/*Colors: http://paletton.com/#uid=13L0u0k5elL00v21JpW9Jjaeni1*/
body {
    background-color: #333333;
}

.container {
    background-color: #333333;
    margin: 0 auto;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #333333;
}

.navbar .navbar-collapse {
    text-align: center;
    background-color: #333333;
}

.navbar-header {
    text-align: center;
    background-color: #333333;
}

.jumbotron {
    background-color: #3A4560;
    border-style: solid;
    border-color: #E7E7E7;
    border-top: 0;
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0 0 6px 6px;
}

.navbar-default .navbar-nav > li > a {
    color: #E7E7E7;
}

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active {
        color: #3A4560;
    }

.jumbotron h1 {
    color: #E7E7E7;
}

button.navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #3A4560;
}

.navbar-toggle {
    float: none;
    margin-right: 0;
}

.collapse.navbar-collapse.navbar-collapse {
    background-color: #333333;
}

#divRightTabs, #divLeftTabs {
    width: 50%;
    display: inline-block;
}

.nav-pills > li > a {
    text-align: center;
    background-color: transparent;
    color: #E7E7E7;
}

    .nav-pills > li > a:hover, .nav-pills > li > a:focus, .nav-pills > li > a:active {
        text-align: center;
        background-color: transparent;
        color: #E7E7E7;
    }

#divTabContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sticker1, .sticker2 {
    width: 200px;
    height: 200px;
    background: url(https://dl.dropbox.com/u/1143870/i/sticker.png) top center no-repeat;
    -webkit-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
    /*Set our animation play state to paused initially */
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

    .sticker1:hover {
        /* Toggle our animation play state to running when we are hovering over our sticker */
        -webkit-animation-play-state: running;
        animation-play-state: running;
    }

    .sticker2:hover {
        /* Toggle our animation play state to running when we are hovering over our sticker */
        -webkit-animation-play-state: running;
        animation-play-state: running;
    }

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

#imgPortfolio {
    width: 25%;
    height: 25%;
    border: 3px solid #E7E7E7;
    border-radius: 50%;
}

.nav-stacked > li {
    background: -webkit-linear-gradient(right, #333333 50%, #3A4560 50%);
    background: -webkit-linear-gradient(left, #333333 50%, #3A4560 50%);
    background: linear-gradient(to right, #333333 50%, #3A4560 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    -webkit-transition: all 1s ease;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    border-style: solid;
    border-color: #E7E7E7;
    border-radius: 6px;
}

.nav-stacked > li:focus, .nav-stacked > li:hover {
        background-position: left bottom;
}